.corsim {
    color: rgb(255, 0, 153);
}

.corsim_hexadecimal {
    color: red;
}

.cor_rgba {
    color: rgba(159, 49, 227, 0.5);
    background-color: black;
}

body {
    background-image: url(raf\,360x360\,075\,t\,fafafa_ca443f4786.jpg);
    background-repeat: repeat;   
    background-attachment: scroll;
}

#bloquinho {
    width: 300px;
    height: 300px;

    background-image: linear-gradient(to right, #9f2de3 , whitesmoke);
}